<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="form-container">
        <h2>SignUp</h2>
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="button" id="generate-password" onclick="generatePassword()">Generate Password</button>
          </div>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
    <script>
        function generatePassword(length = 20) {
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+~`|}{[]:;?><,./-=";
            let password = "";
            for (let i = 0, n = charset.length; i < length; ++i) {
                password += charset.charAt(Math.floor(Math.random() * n));
            }
            document.getElementById('password').value = password;
        }
    </script>
</body>
</html>
