<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css">

    <!--Font Awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <div class="form-container">
        <h2>SignUp</h2>
        <form id="signup-form" action="/signup" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="name">Email:</label>
            <input type="text" id="email" name="user_email" placeholder="Enter your email" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <div class="password-container">
              <input type="password" id="password" name="password" placeholder="Password" required>
              <i class="fa-solid fa-eye show-password"></i>
            </div>
            <button type="button" id="generate-password" onclick="generatePassword()">Generate Password</button>
          </div>
          <div class="password-checklist">
            <h3 class="checklist-title">Password must have</h3>
            <ul class="checklist"> 
              <li class="list-item">At least 10 character long</li>
              <li class="list-item">At least 1 uppercase</li>
              <li class="list-item">At least 1 lowercase</li>
              <li class="list-item">At least 1 number</li>
              <li class="list-item">At least 1 special character</li>
            </ul>
            <p class="score-text">Password Strength:</p>
          </div>
          <p id="password-error" class="error-message"></p>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
    <script src="passwordGenerator.js"></script>
    <script src ="bower_components/zxcvbn/dist/zxcvbn.js"></script>
    <script src="passwordValidation.js"></script>
</body>
</html>