<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual SignUp</title>
    <link rel="stylesheet" href="/style.css">

    <!--Font Awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <div class="form-container">
        <h2>Visual SignUp</h2>
        <form id="visual-signup-form" action="/visualsignup" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="name">Email:</label>
            <input type="text" id="email" name="user_email" placeholder="Enter your email" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Choose your password pattern:</label>
            <!--Enter the Matrix and the outcomes for what the user chose here-->
            <div class="matrix-container">
                <table>
                    <tr>
                        <td><img src="images/cat1.jpg" alt="Cat 1"></td>
                        <td><input type "text" id="cell02"></td>
                        <td><input type "text" id="cell03"></td>
                    </tr>
                    <tr>
                        <td><input type "text" id="cell04"></td>
                        <td><input type "text" id="cell05"></td>
                        <td><input type "text" id="cell06"></td>
                    </tr>
                    <tr>
                        <td><input type "text" id="cell07"></td>
                        <td><input type "text" id="cell08"></td>
                        <td><input type "text" id="cell09"></td>
                    </tr>
                </table>
                <!--Your input-->
                <label for="visual-inputs" align="center">Your Inputs:</label>
                <table>
                    <tr>
                        <td><input type "text" id="input01"></td>
                        <td><input type "text" id="input02"></td>
                        <td><input type "text" id="input03"></td>
                        <td><input type "text" id="input04"></td>
                        <td><input type "text" id="input05"></td>
                        <td><input type "text" id="input06"></td>
                    </tr>
                    
                </table>
            </div>
          </div>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
    <script src ="bower_components/zxcvbn/dist/zxcvbn.js"></script>
</body>
</html>