<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visualsignup</title>
    <link rel="stylesheet" href="/style.css">

    <!--Font Awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <h1 style="text-align: center;
                color :aliceblue;
                font-size: 80px;
                text-shadow: -1px -1px 0 #000,  
                          1px -1px 0 #000,
                          -1px 1px 0 #000,
                          1px 1px 0 #000;">Welcome to Visual Signup Page</h1>
</body>
</html>   